# Environment
VITE_APP_ENV=

# Application URLs
VITE_APP_URL=
VITE_APP_PRODUCTION_URL=

# API keys
VITE_APP_API_URL=
VITE_APP_STRIPE_KEY=
VITE_APP_GOOGLE_API_KEY=

# Analytics and monitoring
VITE_GTM_ID=
VITE_SEED_PAGESENSE=

# Sentry
VITE_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
VITE_SENTRY_PROJECT=

# Project info
VITE_PROJECT_TITLE=
VITE_PROJECT_URL=
VITE_PROJECT_EMAIL=
VITE_PROJECT_PHONE=
VITE_PROJECT_ADDRESS=
VITE_PROJECT_ALIAS=

